<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd"
       default-lazy-init="true">

    <description>使用Spring的Scheduled的定时任务配置</description>

    <!--coding方式的加强版-->
    <bean id="springCronJob" class="com.wantdo.stat.schedule.SpringCronJob" lazy-init="false">
        <property name="cronExpression" value="0 10/30 *  *  * MON-FRI"/>
        <property name="shutdownTimeout" value="20"/>
    </bean>

</beans>